:root {
  --main-text: #757575;
  --gray-text: #212121;
  --blue-back: #2196F3;
  --footer-back: #2F303A;
  --icon-default: #AFB1B8;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: normal;
  font-style: normal;
  color: var(--main-text);
}

div.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button > svg,
button > span {
  vertical-align: middle;
}

button > span {
  padding-right: 7px;
}

.header {
  padding: 25px 0;
  border-bottom: #ECECEC 1px solid;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo-web {
  color: var(--blue-back);
  font-size: 26px;
  font-family: Raleway;
  font-weight: 700;
  letter-spacing: 0.78px;
  word-wrap: break-word;
  margin-right: -5px;
}

.header-logo-studio {
  color: black;
  font-size: 26px;
  font-family: Raleway;
  font-weight: 700;
  letter-spacing: 0.78px;
  word-wrap: break-word;
}

.navigation {
  color: var(--gray-text);
  font-size: 14px;
  font-family: Roboto;
  font-weight: 500;
  letter-spacing: 0.28px;
  word-wrap: break-word;
}

.navigation-link {
  font-size: 14px;
  font-family: Roboto;
  font-weight: 500;
  letter-spacing: 0.28px;
  word-wrap: break-word;
  position: relative;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-link::after {
  content: "";
  position: absolute;
  top: 33px;
  left: 0;
  border-bottom: 4px solid var(--blue-back);
  border-radius: 2px;
  height: 100%;
  width: 0;
  transition: all 0.5s;
}
.navigation-link:hover:after {
  /* width: 100%; */
  animation: navigation_underline 500ms cubic-bezier(0.25, 0.25, 0.695, 0.49) 0s 1 normal forwards;
}

@keyframes navigation_underline {
  0% {
    width: 0;
  }
  25% {
    width: 25%;
  }
  50% {
    width: 50%;
  }
  75% {
    width: 75%;
  }
  100% {
    width: 100%;
  }
}
.contact-link {
  display: flex;
  gap: 10px;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link:hover {
  color: var(--blue-back);
}
.contact-link:hover .contact-link-svg {
  fill: var(--blue-back);
}

.contact-link-svg {
  fill: var(--main-text);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list {
  display: flex;
}

.navigation-list-item {
  margin-left: 50px;
}

.contact-block {
  display: flex;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 500;
  letter-spacing: 0.28px;
  word-wrap: break-word;
}

.contact-list {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.contact-list-item {
  margin-left: 50px;
}

.section-hero {
  padding: 200px 0;
  text-align: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/main_block_bgr.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section-hero-title {
  color: white;
  font-size: 44px;
  font-family: Roboto;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.36;
  letter-spacing: 2.64px;
  word-wrap: break-word;
  margin-bottom: 30px;
}

.section-hero-btn {
  color: white;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  word-wrap: break-word;
  border: 0;
  padding: 10px 32px;
  border-radius: 4px;
  background-color: var(--blue-back);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.section-feature {
  padding: 94px 0;
}

.section-feature-list {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.section-feature-list-item::before {
  content: "";
  display: block;
  height: 120px;
  width: 270px;
  margin-bottom: 30px;
  border-radius: 4px;
}

.antenna::before {
  background: url("../images/antenna1.svg") no-repeat 50% 50%/70px 70px #F5F4FA;
}

.clock::before {
  background: url("../images/clock1.svg") no-repeat 50% 50%/70px 70px #F5F4FA;
}

.diagram::before {
  background: url("../images/diagram1.svg") no-repeat 50% 50%/70px 70px #F5F4FA;
}

.astronaut::before {
  background: url("../images/astronaut1.svg") no-repeat 50% 50%/70px 70px #F5F4FA;
}

.section-feature-title {
  color: var(--gray-text);
  font-size: 14px;
  font-family: Roboto;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.42px;
  word-wrap: break-word;
  line-height: 1.17;
  margin-bottom: 10px;
}

.section-feature-text {
  font-size: 14px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  word-wrap: break-word;
}

.section-box .container {
  text-align: center;
}

.section-box-title {
  color: var(--gray-text);
  font-size: 36px;
  font-family: Roboto;
  font-weight: 700;
  letter-spacing: 1.08px;
  word-wrap: break-word;
  margin-bottom: 50px;
}

.section-box {
  padding-bottom: 94px;
}

.section-box-list {
  display: flex;
  justify-content: space-between;
}

.section-box-list-item {
  position: relative;
  line-height: 0;
  height: 100%;
}

figure.image {
  display: inline-block;
  position: relative;
}

figure img {
  display: block;
  height: auto;
  max-width: 100%;
}

figcaption {
  position: absolute;
  z-index: 5;
  left: 0;
  width: 100%;
  color: white;
  text-align: center;
  padding: 30px 0;
  background-color: rgba(47, 48, 58, 0.8);
  text-transform: uppercase;
  bottom: 0;
  font-size: 14px;
  font-weight: 700;
}

.section-team {
  padding: 94px 0;
  background-color: #F5F4FA;
}

.section-team .container {
  text-align: center;
}

.section-team-list {
  display: flex;
  justify-content: space-between;
}

.section-team-list-item {
  background-color: #FFF;
  padding-bottom: 32px;
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.section-team-title {
  color: var(--gray-text);
  font-size: 36px;
  font-family: Roboto;
  font-weight: 700;
  letter-spacing: 1.08px;
  word-wrap: break-word;
  margin-bottom: 50px;
}

.section-team-item-title {
  color: var(--gray-text);
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  letter-spacing: 0.48px;
  word-wrap: break-word;
  margin-bottom: 10px;
}

.section-team-img {
  margin-bottom: 30px;
}

.section-team-text {
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  letter-spacing: 0.48px;
  word-wrap: break-word;
  margin-bottom: 16px;
}

.team-icon-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.team-icon-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  transition-property: background-color, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-list__link:hover {
  background-color: var(--blue-back);
  border-radius: 50%;
}

.team-list__svg {
  width: 20px;
  height: 20px;
  fill: var(--icon-default);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-list__link:hover .team-list__svg {
  fill: white;
}

.section-clients .container {
  text-align: center;
}

.section-clients-title {
  color: var(--gray-text);
  font-size: 36px;
  font-family: Roboto;
  font-weight: 700;
  letter-spacing: 1.08px;
  word-wrap: break-word;
  margin-bottom: 50px;
}

.section-clients {
  padding-top: 73px;
  padding-bottom: 94px;
}

.section-clients-list {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.section-clients-list__link {
  border: var(--icon-default) solid 1px;
  border-radius: 4px;
  display: flex;
  height: 92px;
  width: 170px;
  align-items: center;
  justify-content: center;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.section-clients-list__link:hover {
  border-color: var(--blue-back);
}

.clients-list__svg {
  fill: var(--icon-default);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.section-clients-list__link:hover .clients-list__svg {
  fill: var(--blue-back);
}

.footer {
  padding: 60px 0;
  background-color: var(--footer-back);
}
.footer .container {
  display: flex;
  gap: 95px;
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-logo-web {
  color: var(--blue-back);
  font-size: 26px;
  font-family: Raleway;
  font-weight: 700;
  letter-spacing: 0.78px;
  word-wrap: break-word;
  margin-right: -5px;
}

.footer-logo-studio {
  color: white;
  font-size: 26px;
  font-family: Raleway;
  font-weight: 700;
  letter-spacing: 0.78px;
  word-wrap: break-word;
}

.footer-text {
  color: white;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  word-wrap: break-word;
}

.footer-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.footer-social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color, border-radius;
  transition-duration: 1000ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-list__link:hover {
  background-color: var(--blue-back);
  border-radius: 50%;
}

.footer-social-list__svg {
  width: 20px;
  height: 20px;
  fill: white;
}

.footer-contact {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  word-wrap: break-word;
}

.footer-social-text {
  color: white;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.71;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.footer-btn {
  color: white;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  word-wrap: break-word;
  border: 0;
  padding: 10px 32px;
  border-radius: 4px;
  background-color: var(--blue-back);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.footer-input {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 16px;
  font-size: 16px;
  line-height: 1.25;
  margin-right: 12px;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form {
  margin-top: 20px;
  display: flex;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms, visibility 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.no-scroll {
  overflow: hidden;
}

.modal {
  max-width: 528px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: white;
  padding: 40px;
  min-width: 400px;
  min-height: 300px;
  border-radius: 10px;
  z-index: 11;
  transform: translate(-50%, -50%) scale(1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 1000ms;
}

.modal.backdrop.is-hidden {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 30px;
  width: 30px;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.modal-close:hover svg {
  fill: #2196F3;
}

.modal-header {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 700;
  color: #212121;
  letter-spacing: 3%;
  padding-bottom: 10px;
}

.modal-label {
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  color: #757575;
}

label > .icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  fill: #212121;
}

input,
textarea {
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

input:focus,
textarea:focus {
  border-color: #2196F3;
  outline: none;
}

label.modal-label:has(input:focus) svg {
  fill: #2196F3;
}

.modal-input {
  margin-bottom: 14px;
  padding: 10px 30px;
  border-color: rgba(33, 33, 33, 0.2);
  border-width: 1px;
  border-radius: 3px;
  border-style: solid;
  margin-top: 5px;
}

.check {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 16px;
  height: 15px;
  background-image: url("../images/icons/uncheck.svg");
  position: relative;
  margin-right: 9px;
  border-radius: 2px;
}

.check:checked::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 15px;
  background-image: url("../images/icons/check.svg");
}

.modal-checkbox-text {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  color: #757575;
  letter-spacing: 0.7px;
  line-height: 1.71;
  display: flex;
  align-items: center;
}

.modal-checkbox-text a {
  color: #2196F3;
  text-decoration: underline;
  padding-left: 4px;
}

.modal-btn {
  display: block;
  padding: 10px 20px;
  background-color: #2196F3;
  color: #FFFFFF;
  margin: 0 auto;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 6%;
  line-height: 1.9;
  margin-top: 30px;
}

.is-visible {
  display: block !important;
}/*# sourceMappingURL=main.css.map */