body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: normal;
  font-style: normal;
  color: #757575;
}

div.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button > svg,
button > span {
  vertical-align: middle;
}

button > span {
  padding-right: 7px;
}

.no-scroll {
  overflow: hidden;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: background-color, border-radius;
  transition-duration: 1000ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover {
  background-color: #2196F3;
}
.social-list__svg {
  width: 20px;
  height: 20px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover .social-list__svg {
  fill: white;
}

.logo__web {
  color: #2196F3;
  font-size: 26px;
  font-family: Raleway;
  font-weight: 700;
  letter-spacing: 0.78px;
  word-wrap: break-word;
  margin-right: -5px;
}
.logo__studio {
  font-size: 26px;
  font-family: Raleway;
  font-weight: 700;
  letter-spacing: 0.78px;
  word-wrap: break-word;
}

.header {
  padding: 25px 0;
  border-bottom: #ECECEC 1px solid;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__contact {
  display: flex;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 500;
  letter-spacing: 0.28px;
  word-wrap: break-word;
}
.header__contact-list {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.header__contact-item {
  margin-left: 50px;
}
.header__contact-link {
  display: flex;
  gap: 10px;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contact-link:hover {
  color: #2196F3;
}
.header__contact-link:hover .header__contact-svg {
  fill: #2196F3;
}
.header__contact-svg {
  fill: #757575;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-spacer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-spacer__logo--studio {
  color: black;
}

.navigation {
  color: #212121;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 500;
  letter-spacing: 0.28px;
  word-wrap: break-word;
}

.navigation-list {
  display: flex;
}
.navigation-list__item {
  margin-left: 50px;
}
.navigation-list__link {
  font-size: 14px;
  font-family: Roboto;
  font-weight: 500;
  letter-spacing: 0.28px;
  word-wrap: break-word;
  position: relative;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-list__link::after {
  content: "";
  position: absolute;
  top: 33px;
  left: 0;
  border-bottom: 4px solid #2196F3;
  border-radius: 2px;
  height: 100%;
  width: 0;
  transition: all 0.5s;
}
.navigation-list__link:hover:after {
  /* width: 100%; */
  animation: navigation_underline 500ms cubic-bezier(0.25, 0.25, 0.695, 0.49) 0s 1 normal forwards;
}
.navigation-list__link:hover {
  color: #2196F3;
}
.navigation-list__item--active {
  color: #2196F3;
}
.navigation-list__item--active .navigation-list__link::after {
  width: 100%;
}

@keyframes navigation_underline {
  0% {
    width: 0;
  }
  25% {
    width: 25%;
  }
  50% {
    width: 50%;
  }
  75% {
    width: 75%;
  }
  100% {
    width: 100%;
  }
}
.portfolio {
  padding: 95px 0;
}
.portfolio__filters {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 51px;
}
.portfolio__filters-list {
  display: flex;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.portfolio__filters-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 3%;
  text-align: center;
  color: #212121;
  padding: 6px 22px;
  background-color: #F5F4FA;
  border: 0;
  border-radius: 4px;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__filters-btn:hover {
  background-color: #2196F3;
  color: #FFF;
  box-shadow: 0 3px rgba(50, 50, 50, 0.3);
}
.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  row-gap: 30px;
  justify-content: space-between;
}
.portfolio__item {
  border: #EEEEEE 1px solid;
  flex-basis: calc((100% - 60px) / 3);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__item:hover {
  box-shadow: 1px 4px rgba(0, 0, 0, 0.16);
}
.portfolio__border {
  position: relative;
  overflow: hidden;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__border:hover .portfolio__overlay {
  /* transform: translateY(0); */
  animation: overlay_show 500ms cubic-bezier(0.25, 0.25, 0.695, 0.49) 0s 1 normal forwards;
}
.portfolio__img {
  width: 100%;
}
.portfolio__overlay {
  position: absolute;
  top: 1px;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 200ms ease-out;
  color: #FFF;
  background-color: rgba(33, 150, 243, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  letter-spacing: 0.54;
  line-height: 1.6;
  font-weight: 400;
  padding: 22px;
}
.portfolio__block {
  padding: 23px;
}
.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 6%;
  color: #212121;
}
.portfolio__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 3%;
  color: #757575;
}

@keyframes overlay_show {
  0% {
    transform: translateY(100%);
  }
  25% {
    transform: translateY(75%);
  }
  50% {
    transform: translateY(50%);
  }
  75% {
    transform: translateY(25%);
  }
  100% {
    transform: translateY(0);
  }
}
.footer {
  padding: 60px 0;
  background-color: #2F303A;
}
.footer__container {
  display: flex;
  gap: 95px;
}
.footer__contact {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  word-wrap: break-word;
}
.footer__contact--white {
  color: white;
  margin-top: 20px;
}
.footer__social-text {
  color: white;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.71;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.footer__social-list--margin20 {
  margin-top: 20px;
}
.footer__social-list--dark {
  background-color: rgba(255, 255, 255, 0.1);
}
.footer__social-list--fill {
  fill: white;
}
.footer__form {
  margin-top: 20px;
  display: flex;
}
.footer__input {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 16px;
  font-size: 16px;
  line-height: 1.25;
  margin-right: 12px;
  color: rgba(255, 255, 255, 0.6);
}
.footer__btn {
  color: white;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  word-wrap: break-word;
  border: 0;
  padding: 10px 32px;
  border-radius: 4px;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.footer-spacer__logo--studio {
  color: white;
}/*# sourceMappingURL=portfolio.css.map */