.hero {
    padding: 100px;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url("../images/tablet/main_block_bgr@1x.jpg");

    &__title {
        @include font4(26px, 1.56px, 1.61, 800);
    }
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/tablet/main_block_bgr@2x.jpg");
  }
}