.header {
    padding: 15px 0;
    border-bottom: #ECECEC 1px solid;

    &__container {
      @extend %flex-between-center;
    }
}

.header-spacer {
    @extend %flex-between-center;
}

.header-contact {
    @include font4(14px, 0.28px, normal, 500);
    @include font2(Roboto, break-word);
    display: none;



    column-gap: 50px;

    &__link {
     @extend %flex-center;
        gap: 10px;
  
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: $cubic;

        &:hover {
            color: $blue-back;
        }

        &:hover .header-contact__svg {
            fill: $blue-back;
        }
    }
    
    &__svg {
        fill: $main-text;
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: $cubic;
    }
}