.logo {
    &__web {
        @include font4(26px, 0.78px, normal, 700);
        @include font2(Raleway, break-word);
        color: $blue-back;
        margin-right: -5px;
    }

    &__studio {
        @include font4(26px, 0.78px, normal, 700);
        @include font2(Raleway, break-word);

    }

    &__studio--header {
        color: $logo-studio;
    }

}