.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    opacity: 1;
    transition:
        opacity 250ms $cubic 250ms,
        visibility 250ms $cubic 250ms;

    &--is-hidden {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }

    &--is-hidden .modal__form {
        transform: translate(-50%, -50%) scale(0);
    }




  
}
.modal-form {
    max-width: 528px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: $white;
    padding: 40px;
    min-width: 400px;
    min-height: 300px;
    border-radius: 10px;
    z-index: 11;
    transform: translate(-50%, -50%) scale(1);
    transition: opacity 250ms $cubic 1000ms;



    &__close {
        position: absolute;
        top: 10px;
        right: 10px;
        height: 32px;
        width: 32px;
        border-color:$button-shadow;
        border-width: 1px;
        border-style: solid;
        border-radius: 50%;
        cursor: pointer;
        transition-property: background-color, color, box-shadow, border-color;
        transition-duration: 250ms;
        transition-timing-function: $cubic;
        transition-delay: 0;
    }
    &__close:hover {
        border-color:$blue-back;
    }
    &__close:hover .modal-form__icon {
        fill: $blue-back;
    }

    &__header {
        @include font4(20px, 3%, normal, 700);
        @include font2(Raleway, normal);
        color: $gray-text;
        padding-bottom: 10px;
    }

    &__label {
        @include font4(12px, normal, normal, 400);
        @include font2(Roboto, normal);
        display: flex;
        flex-direction: column;
        position: relative;
        color: $main-text;
    }

    &__label:has(input:focus) svg {
        fill: $blue-back;
    }

    &__icon {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        fill: $gray-text;
    }

    &__input {
        margin-bottom: 14px;
        padding: 10px 30px;
        border-color: rgba(33, 33, 33, 0.2);
        border-width: 1px;
        border-radius: 3px;
        border-style: solid;
        margin-top: 5px;
        transition-property: background-color, color, box-shadow;
        transition-duration: 250ms;
        transition-timing-function: $cubic;
    }

    &__input:focus {
        border-color: $blue-back;
        outline: none;
    }

    &__checkbox-text {
        @extend %flex-center;
        @include font4(14px, 0.7px, 1.71, 400);
        @include font2(Roboto, break-word);
        color: $main-text;
     
    }

    &__checkbox {
        appearance: none;
        width: 16px;
        height: 15px;
        background-image: url("../images/icons/uncheck.svg");
        position: relative;
        margin-right: 9px;
        border-radius: 2px;
    }

    &__checkbox:checked::after {
        content: "";
        position: absolute;
        width: 16px;
        height: 15px;
        background-image: url("../images/icons/check.svg");
    }

    &__checkbox-link {
        color: $blue-back;
        text-decoration: underline;
        padding-left: 4px;

    }
}