.hero {
    padding: 125px 0;
    text-align: center;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url("../images/main_block_bgr.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__title {
        @include font4(26px, 6%, 1.61, 900);

        @include font2(Roboto, break-word);
        color: $white;
        text-transform: uppercase;
        margin-bottom: 30px;
    }
}