.team {
    padding: 94px 0;
    background-color: #F5F4FA;

    &__container {
        text-align: center;
    }

    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__main-title {
        color: $gray-text;
        font-size: 36px;
        font-family: Roboto;
        font-weight: 700;
        letter-spacing: 1.08px;
        word-wrap: break-word;
        margin-bottom: 50px;
    }

    &__item {
        background-color: #FFF;
        padding-bottom: 32px;
        border-radius: 4px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        overflow: hidden;
    }

    &__img {
        margin-bottom: 30px;
    }

    &__title {
        color: $gray-text;
        font-size: 16px;
        font-family: Roboto;
        font-weight: 500;
        letter-spacing: 0.48px;
        word-wrap: break-word;
        margin-bottom: 10px;
    }

    &__text {
        font-size: 16px;
        font-family: Roboto;
        font-weight: 400;
        letter-spacing: 0.48px;
        word-wrap: break-word;
        margin-bottom: 16px;
    }

    // &__list-icon {
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     gap: 10px;
    // }

    // &__link {
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     width: 44px;
    //     height: 44px;
    //     transition-property: background-color, border-radius;
    //     transition-duration: 250ms;
    //     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    // }

    // &__link:hover {
    //     background-color: $blue-back;
    //     border-radius: 50%;
    // }

    // &__link:hover .team__svg {
    //     fill: white;
    // }

    // &__svg {
    //     width: 20px;
    //     height: 20px;
    //     fill: $icon-default;
    //     transition-property: fill;
    //     transition-duration: 250ms;
    //     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    // }
    &__social-list--fill {
        fill: $icon-default;
    }
}