.team {
    padding: 94px 0;
    background-color: $feature-item-back;

    &__container {
        text-align: center;
    }

    &__main-title {
        @include font4(36px, 1.08px, normal, 700);
        @include font2(Roboto, break-word);
        color: $gray-text;
        margin-bottom: 50px;
    }

}

.team-list {

    display: flex;
    justify-content: space-between;




    &__item {
        background-color: #FFF;
        padding-bottom: 32px;
        border-radius: 4px;
        box-shadow: 0 2px 2px $team-box-shadow;
        overflow: hidden;
    }

    &__img {
        margin-bottom: 30px;
    }

    &__title {
        @include font4 (16px, 0.48px, normal, 500);
        @include font2(Roboto, break-word);
        color: $gray-text;
        margin-bottom: 10px;
    }

    &__text {
        @include font4 (16px, 0.48px, normal, 400);
        @include font2(Roboto, break-word);
        margin-bottom: 16px;
    }

}