.feature {
    padding: 94px 0;

}

.feature-list {

    display: flex;
    column-gap: 30px;

    &__item::before {
        content: '';
        display: block;
        height: 120px;
        width: 270px;
        margin-bottom: 30px;
        border-radius: 4px;
    }

    &__item--antenna::before {
        background: url("../images/antenna1.svg") no-repeat 50% 50% / 70px 70px $feature-item-back;
    }

    &__item--clock::before {
        background: url("../images/clock1.svg") no-repeat 50% 50% / 70px 70px $feature-item-back;
    }

    &__item--diagram::before {
        background: url("../images/diagram1.svg") no-repeat 50% 50% / 70px 70px $feature-item-back;
    }

    &__item--astronaut::before {
        background: url("../images/astronaut1.svg") no-repeat 50% 50% / 70px 70px $feature-item-back;
    }

    &__title {
        @include font4(14px, normal, 1.17, 700);
        @include font2(Roboto, break-word);
        color: $gray-text;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    &__text {
        @include font4(14px, normal, normal, 400);
        @include font2(Roboto, break-word);
    }
}